In [1]:
# import pandas as pd
# import numpy as np
# from sklearn.svm import SVC, LinearSVC

from wrangling import DataWrangling as dw

In [2]:
train = dw('data/train.csv')
# train.wrangle()

test = dw('data/train.csv', is_test=True)
# test.wrangle()

Dropped PassengerId
Dropped Ticket
Dropped Cabin
Dropped Ticket
Dropped Cabin

In [3]:
X, yy = train.get_xy()
X_test, yy_test = test.get_xy()

ValueError: too many values to unpack (expected 2)

In [6]:
test = dw('data/test.csv', is_test=True).get_xy()
test.head()

Dropped Ticket
Dropped Cabin

   PassengerId  Pclass  Sex  Age  Fare  Embarked  Title  Family
0          892       3    0    2     2         2      4       0
1          893       3    1    2     2         0      2       1
2          894       2    0    3     2         2      4       0
3          895       3    0    1     2         0      4       0
4          896       3    1    1     2         0      2       1

In [ ]:
from training import SupportVectorMachine, RandomForest

In [ ]:
svm = SupportVectorMachine(X, yy)
rf = RandomForest(X, yy)

In [ ]:
svm.train()

Score: 0.826

In [ ]:
rf.train()

Score: 0.848

In [ ]:
rf.save_submission(X_test)

In [ ]:
X_test.head()

   PassengerId  Pclass  Sex  Age  Fare  Embarked  Title  Family
0            1       3    0    1     2         0      4       1
1            2       1    1    2     2         1      2       1
2            3       3    1    1     2         0      1       0
3            4       1    1    2     2         0      2       1
4            5       3    0    2     2         0      4       0